backend/.vs/
backend/Up11.Api/obj/
backend/Up11.Api/bin/
cs_files_and_appsettings.json.txt
controllers.txt
services.txt
structure.txt
backend/Up11.Api/.vs
frontend/init_table.sql
frontend/Разработка-сайта-для-добавления,-редактирования-и-удаления-данных.txt
frontend/разработка-фронта.txt
frontend/swagger.json
